.app {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

.container{
  display: flex;
}

.information{
  margin-bottom: 1.2em;
  align-self: center;
}

.presentation{
  padding: 0 25%;
}

.sportTable .position{
  text-align: left;
}

.jumbo{
  margin-bottom: 0px !important;
}

.information h1{
  font-size: 1.8em;
  font-weight: 400;
  margin: 0 0 .5em;
}
.information span{
  margin-bottom: 10px;
  display: block;
}

.sportTable{
  margin: 0 auto;
  border-collapse: collapse;
}

.sportTable tr{
  border-bottom: 1px solid #dedede;
  line-height: 2.3em;
}

.imager{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.imager img{
  max-width: 100%;
  max-height: 100%;
}

.sportTable .teamPoints{
  font-weight: bold;
}

.sportTable tr:last-child{
  border: none;
}

.sportTable td{
  width: 35px;
}

.sportTable .teamName{
  width: 250px;
  text-align: left;
  display: flex;
  align-items: center;
}

.button-padding{
  margin-right: 2%;
  background-color: #35960b !important;
  border-color: #35960b !important;
}

.sportTable .tableHeader,
.sportTable .position{
  color: #878787;
}